.MainPage {
    width: 100%;
    height: 100vh;
    background: blue;

    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 80px;
    background-color: rgb(128, 27, 47);
}

.center {
    width: 100%-0.1em;
    height: 100%;
    background-color: rgb(128, 27, 47);

    border: 0.1em solid gray;

    display: flex;
    flex-direction: row;

}

.VideoView {
    width: 100%;
    height: 100%;
    background-color: rgb(122, 194, 122);

    border: 1px solid gray;

}